.formBody {
    background: url('../../Imagens/contact-bg.jpg');
    width: 100vw;
    height: 80vh;
    opacity: 0.9;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.h3Form{
    font-size: 3rem;
    color: white;
}

.h3contato {
    font-size: 2rem;
    color: white;
}

.forms {
    width: 100vw;
    height: 45vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.inputForm {
    width: 40vw;
    height: 4vh;
    margin-bottom: 40px;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #cc9d0d;
}

.inputFormText{
    width: 40vw;
    height: 12vh;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #cc9d0d;
}

.enviarMensagem{
    width: 10vw;
    height: 5vh;
    background-color: #cc9d0d;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
}