.bodyHeader {
    background-color: black;
    display: flex;
    width: 100vw;
    height: 10vh;
    font-family: 'Nunito', 'sans-serif';
    color: white;
    font-weight: 700;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.logo {
    height: 95px;
    width: 105px;
}

.icons-header {
    display: flex;
    align-items: center;
}

.header-email {
    color: rgba(255,255,255,.5)
}