@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

.container-fluid {
    margin-top: 116px;
    font-family: 'Oswald', 'sans-serif';
}

.img-fluid {
    position: absolute;
    margin: 0;
    padding: 0;
    opacity: .8;
    filter: blur(3px);
}

.header-text {
    font-size: 4em;
    font-weight: 800;
    text-align: right;
}

.text-white {
    margin-top: 350px;
    margin-right: 160px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 1440px){
    .header-text {
        font-size: 4em;
    }
}

@media (max-width: 1024px){
    .text-white {
        margin-top: 150px;
    }

    .header-text {
        text-align: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .header-text {
        font-size: 1.5em;
        text-align: center;
    }
    .text-white {
        margin-right: 0;
        align-items: center;
        margin-top: 100px;
    }
}



