@media(max-width: 800px) {

    .bodyHeader {
        justify-content: space-between;
        width: 100vw;
    }

    .icons-header {
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        background: black;
        width: 250px;
        height: 250px;
        margin-top: 350px;
        margin-right: 8px;
        border: 2px solid #cc9d0d;
    }

    .burger-button {
        padding: 5px;
        margin-right: 20px;
        background: transparent;
        border: 2px solid #cc9d0d;
        border-radius: 10px;
        cursor: pointer;
        position: absolute;
        right: 20px;
    }

    .logo {
        margin-left: 20px;
    }

    .desktop-nav {
        display: none;
    }
}