@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

nav {
  font-family: 'Nunito', 'sans-serif';
  font-weight: 600;
  font-size: 1.2em;
}

.navbar-toggler {
  border: none;
}

.text-color {
  color: white;
}