@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

nav {
  font-family: 'Nunito', 'sans-serif';
  font-weight: 600;
  font-size: 1.2em;
  height: 8%;
}

.navbar-toggler {
  border: none;
}

.text-color {
  color: white;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

li {
  margin-left: 10px;
}
