@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

.sectionBody{
    background-color: #f3f3f3;
    font-family: 'Nunito', 'sans-serif';
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
}

/*TEXTOS =====================*/
.h3Section {
    font-size: 3.5rem;
    font-weight: 700;
}

.spanSection {
    color: #cc9d0d;
}

.titlesSection .pSection {
    font-size: 1.5rem;
    text-align: center;
}

/*CARDS E IMAGEM ==============*/

.imgAndCards {
    margin-top: 40px;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.divCards {
    width: 60%;
    height: 548px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.imgSection {
    align-self: flex-start;
}

.cards {
    margin-top: 30px;
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.textCards {
    width: 75%;
    font-size: 1.5rem;
    font-weight: 800;
    display: flex;
    flex-flow: column nowrap;
}

.textCards p {
    font-size: 1rem;
}


