.sectionBody {
    margin-top: 640px;
    padding: 0 0;
}

.text-yellow {
    color: #cc9d0d;
}

.icons {
    height: 500px;
    margin-left: 120px;
    width: 900px;
}

.icon-item {
    width: 320px;
    height: 200px;
    margin: 30px;
}

.text-icons-item {
    height: 195px;
    width: 240px;
}

p {
    font-size: 1.3em;
}