@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');

.sectionBody {
    padding: 30px;
    font-family: 'Nunito', 'sans-serif';
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

}

.textsection {
    font-size: 1.5em;
}

.servicos {
    color: #cc9d0d;
}


.grid-section {
    padding: 30px 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "imagem item item"
    "imagem item item"
    ;
}

.grid-section img {
    grid-area: imagem;
}

.grid-items {
    grid-area: item;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.grid-box {
    max-width: 80%;
    height: 73%;
    display: flex;
}

.text-boxes{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

.text-boxes h2 {
    font-size: 1.8em;
    font-weight: 900;
}

.text-boxes p {
    font-size: 1.2em;
    font-weight: 700;
}