.footerBody {
    background-color: black;
    color: white;
    text-align: center;
    height: 15vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
}

.pFooter{
    font-size: 1.2em;
}