.body-home{
    height: 100vh;
    width: 100vw;
}

/*HEADER ===================*/
.header-container {
    margin-top: 115px;
}

.text-header {
    margin-top: 30%;
    color: white;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    text-align: end;
    justify-content: center;
}

.h1-header {
    font-size: 3em;
}

.h3-header {
    font-size: 2.5em;
}

.spans {
    color: #c9a227;
}

@media (max-width: 768px) {
    .h1-header {
        font-size: 2.3em;
    }
    
    .h3-header {
        font-size: 1.8em;
    }

    .text-header {
        text-align: center;
        align-items: center;
    }
}

@media (max-width: 425px) {
    .h1-header {
        font-size: 1.5em;
    }
    
    .h3-header {
        font-size: 1em;
    }

    .text-header {
        text-align: center;
        align-items: center;
    }
}

/*SECTION =====================*/

.section-body {
    margin-top: 27%;
}

/*FORMS =======================*/

.form-body {
    background-image: url('./Imagens/contact-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.field-form {
    border: 2px solid transparent;
    padding: 1%;
    margin: 2%;
    border-radius: 5px;
    border: none;
    outline: none;
}

.entre-em-contato {
    font-size: 1.8em;
}

.field-form:focus {
    border: 2px solid #c9a227;
}

.btn-form {
    background-color: #c9a227;
    padding: 1%;
    border: 2px solid transparent;
    outline: none;
    border-radius: 5px;
    font-weight: 600;
    transition: .5s;
    margin-top: 2%;
    margin-bottom: 4%;
}

.btn-form:hover {
    border: 2px solid white;
    color: white;
}   

