@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.backgroundBody {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    ".     .     ."
    ".     .     ."
    ".     .     texto"
    ;
    position: relative;
}

.background-image {
    background-image: url(../../Imagens/fundoLimofalls.jpg);
    opacity: .9;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.textBackground{
    grid-area: texto;
    text-align: end;
    margin-right: 150px;
    font-size: 2.7em;
    justify-content: center;
    color: white;
    font-family: 'Oswald', 'sans-serif';
    z-index: 1;
    line-height: 150px;
}

.experience {
    color: #cc9d0d;
}