@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.contact {
    background-image: url('../../Imagens/contact-bg.jpg');
    font-family: 'Nunito', 'sans-serif';
}

.input-contact {
    border: none;
    outline: none;
    border-radius: 10px;
    transition: .2s;
}

.contact-btn {
    background-color: #cc9d0d;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5em;
    font-weight: 600;
    transition: .3s;
}

.contact-btn:hover {
    padding: 8px;
    color: white;
    border: 1px solid white;
}

.input-contact:focus {
    border: 3px solid #cc9d0d;
}

textarea {
    height: 120px;
}

@media(max-width: 425px) {
    .contact-btn{
        font-size: 1em;
    }
}
